.App{
  height:100%;
  width:100%;
  user-select:none;
  overflow-x:hidden;
  cursor:none;
}
*{
  scroll-behavior:smooth;
}
.title{
  font-size:13px;
  font-family:"NMACHINAREGULAR";
}
.navbar{
  padding-inline:4%;
  padding-top:1.4%;
  padding-bottom:1.4%;
  user-select:none;
  border-bottom:.1px solid rgb(0, 0, 0);
  display:grid;
  grid-template-columns:1fr 1fr;
  font-family:'Mash';
  font-family:"NMACHINAREGULAR";

}
.navbar ul{
  display:inline-flex;
  list-style:none;
  text-transform:uppercase;
  justify-content:flex-end;
}
.navbar ul li{
  margin-right:3%;
  font-size:12px;
}
.cursor{
  position:fixed;
  border-radius:100%;
  border:.1px solid rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  mix-blend-mode: difference;
  z-index:99999;
  display:none;
  transform:translate(50%,50%);
}

.text-1{
  font-size:131px;
	font-family: 'Mash';

}
.hero-1{
  margin-top:5%;
}
.ABOUT-TXT{
  font-family:"NMACHINAREGULAR";
  font-size:141px;
  overflow:hidden;
  white-space: nowrap;
  font-family:"NMACHINALIGHT";

}
.code-style{
  color:white;
  font-family:"NMACHINAREGULAR";
  font-size:151px;
  text-align:justify;

}

.hero-2{
  padding-top:4%;
  padding-inline:4%;
}


* ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.skewX{
  transform:skewX(45deg);
}

.skills{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-column-gap:3%;
  margin-top:2%;

}

.ceil-sk-1{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
  border-right:.1px solid black;
  padding-top:23%;
}

.ceil-sk-1 p:nth-child(1){
  font-size:53px;
  font-family:"NMACHINAREGULAR";
}

.ceil-sk-1 p:nth-child(2){
  font-family:"NMACHINAREGULAR";
}

.ceil-sk-2{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
}
.ceil-sk-2 ul{
  list-style:none;
  font-size:53px;
  font-family:"NMACHINAREGULAR";
}

.scroll-v{
  overflow-x:scroll;
  overflow-y:scroll;
}
.t-1{
  width:100%;
  height:100%;
  display:flex;
  font-size:53px;
  font-family:"NMACHINAREGULAR";
  color:white;
  display:none;
}
.t-2{
  background-color:red;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:53px;
  font-family:"NMACHINAREGULAR";
  color:white;
}

.letter-variable{
  transition:font-weight 500ms;
}
.letter-variable:hover{
  cursor: pointer;
  font-weight:800;
  color:orangered;
}

.letter-variable-header{
  animation-name:headerAnimation;
  animation-delay:2;
  
}

@keyframes headerAnimation {
  0%{
    font-weight:100;
  }
  100%{
    font-family:400;
  }
}

.wrapper-container{
  margin-top:2%;


  padding-inline:1%;
  padding-top:1%;
  height:100vh;
 
}
.wrapper-main{
   background-color:#d3c0b2;
   border-top-radius:12px;
   border-top-left-radius:12px;

   margin-inline: 1%;
}
.wrapper-ln{
  display:grid;
  grid-template-columns:1fr 11% 1fr;
  overflow:hidden;
  text-align:center;
  width:100%;
	font-family:'editorial-reg';
  font-size:calc(1em + 5vw);

}
.captions{
  display:flex;
  align-items:center;
  justify-content:space-between;
  text-transform:uppercase;
  font-family:"NMACHINAREGULAR";
  margin-top:.5%;
  font-size:13px;
  overflow:hidden;
}


.sk:hover{
  font-weight:400;
  transform:skewY(10);
}

.wrapper-ln-2{
  display:flex;
  align-items:flex-end;
  justify-content:space-between;  
  margin-top:6%;
  border-bottom:1px solid;
  border-color:transparent;
	font-family:'GroteskMedium';
  overflow:hidden;
	font-family:'neu-med';


}
.wrapper-ln-2 .center-text{
  display:flex;
  font-size:74px;
}

.card{
  width:235px;
  height:95px;
  font-family:"NMACHINAREGULAR";
  margin-bottom:1%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-end;
  border-bottom-right-radius:15px;
  font-size:14px;
  padding-left:1%;
  padding-bottom:1%;
}

.card:nth-child(1){
  background-color:#a79283;
}

.card-2{
  width:235px;
  height:95px;
  font-family:"NMACHINAREGULAR";
  margin-bottom:1%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-end;
  border-bottom-right-radius:15px;
  font-size:14px;
  padding-left:1%;
  padding-bottom:1%;
}

.card-2{
  background-color:#e86a33;
}

.wrapper-ln-3{
  display:grid;
  grid-template-columns:1fr 1% 1fr;
  margin-top:2%;
  border-bottom:1px solid ;
  border-color:transparent;
  font-size:74px;
	font-family:'GroteskMedium';
	font-family:'neu-med';



}
.wrapper-ln-4{
  display:flex;
  align-items:flex-end;
  justify-content:space-between;  
  border-bottom:1px solid;
  border-color:transparent;
  font-size:74px;
  margin-top:1%;
	font-family:'GroteskMedium';
	font-family:'neu-med';



}
.wrapper-ln-4 .card{
    width:235px;
    height:95px;
    font-family:"NMACHINAREGULAR";
    margin-bottom:1%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-end;
    border-bottom-right-radius:15px;
    
    font-size:14px;
    padding-left:1%;
    background-color:#e7aa2d;
}

.ch,.nm,.wb,.dev{
  display:flex;
}


.divider {
  height:1px;
  width:0%;
  background-color:rgb(0, 0, 0);
}

.about{
  display:grid;
  grid-template-columns:48% 1fr;
  margin-inline:1%;
  margin-top:5%;

}

.about .about-intro{
	font-family:'GroteskLight';
  font-size:33px;
	font-family:'Grotesk-Regular';
	font-family:'Monu-Bold';
	font-family:'editorial-reg';



}

.about .about-txt{
  font-size:17px;
  font-family:"NMACHINAREGULAR";
  text-align:justify;
  

}

.about-skills{
  margin-top:5%;
}

.about-skills div{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  align-items:center;
  justify-content:space-between;
  border-bottom:.1px solid #a79283;
  height: 35px;
}

.projects{
  margin-top:5%;
  margin-inline:1%;
  padding-bottom:2%;


}

.projects .tl{
  font-size:114px;
	font-family:'neu-med';
  border-bottom:.1px solid #46403c;

}

.tl:nth-child(2){
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
.tl:nth-child(3){
  display:flex;
  align-items:center;
  justify-content:center;
}

.projects-items{
  margin-top:5%;
  display:grid;
  grid-template-columns: repeat(3,1fr);
}

.pr-1{
  padding:4%;
  height:356px;
  border-bottom-right-radius:43px;
  background-color: #263a29;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
}

.pr-1 .header,.pr-1 .bottom{
  color: white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
	font-family:'neu-med';
}
.pr-bottom{
  font-size:31px;
}


.pr-2{
  height:356px;
  border-bottom-right-radius:23px;
  background-color:#e86a33;
  display:flex;
  flex-direction:column;
  align-items:flex-start;

  justify-content:space-between;
  padding:4%;
}

.pr-2 .header,.pr-2 .bottom{
  color: white;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
	font-family:'neu-med';
}

.pr-3{
  grid-column:2 span;
  height:356px;
  border-bottom-right-radius:23px;
  background-color:#ffeee8;
  display:flex;
  flex-direction:column;
  align-items:flex-start;

  justify-content:space-between;
  padding:4%;
}