@font-face {
    font-family:"NMACHINABOLD";
    src: url("./assets/fonts/NeueMachina/NeueMachina-Ultrabold.otf");
}

.BOLDMACHINA{
    font-family:"NMACHINABOLD";
}

@font-face {
    font-family:"NMACHINALIGHT";
    src: url("./assets/fonts/NeueMachina/NeueMachina-Light.otf");
}

.LIGHTMACHINA{
    font-family:"NMACHINALIGHT";

}

@font-face {
    font-family:"NMACHINAREGULAR";
    src: url("./assets/fonts/NeueHaasDisplayRoman.ttf");
}

.REGULARMACHINA{
    font-family:"NMACHINAREGULAR";

}

